*.ps1 linguist-detectable=false
*.ps1 linguist-detectable=false
*.sh linguist-detectable=false
*.bat linguist-detectable=false
* linguist-vendored=false
Scripts/* linguist-vendored=true
etc/* linguist-vendored=true
share/* linguist-vendored=true
